@model PresentationLayer.Models.User.UserDetailModel

@{
    ViewBag.Title = Model.User.UserName;
}

<h2 style="text-align:left">
    User @Model.User.UserName
    <span style="float:right">
        <div class="btn-toolbar">
            @if(Model.IsAdmin || Model.IsEmployee) {
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Manage privileges <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    @if(Model.IsAdmin) {
                        if(!Model.IsDetailedUserAdmin) {
                        <li>
                            @Html.ActionLink("Grant admin rights", "GrantAdministratorRights", "User", new { userId = Model.User.Id }, new { @class = "btn btn-link"} )
                        </li>
                        } else {
                        <li>
                            @Html.ActionLink("Revoke admin rights", "RemoveAdministratorRights", "User", new { userId = Model.User.Id }, new { @class = "btn btn-link"} )
                        </li>
                        }
                    }

                    @if(Model.IsAdmin) {
                        if(Model.EmployeeDetailModel == null) {
                        <li>
                            @Html.ActionLink("Grant employee rights", "GrantEmployeeRights", "Employee", new { userId = Model.User.Id }, new { @class = "btn btn-link"} )
                        </li>
                        } else {
                        <li>
                            @Html.ActionLink("Revoke employee rights", "RemoveEmployeeRights", "Employee", new { userId = Model.User.Id}, new { @class = "btn btn-link"})
                        </li>
                        }
                    }

                    @if(Model.IsAdmin || Model.IsEmployee) {
                        if(Model.CustomerDetailModel == null) {
                        <li>
                            @Html.ActionLink("Grant customer rights", "GrantCustomerRights", "Customer", new { userId = Model.User.Id }, new { @class = "btn btn-link"} )
                        </li>
                        } else {
                        <li>
                            @Html.ActionLink("Revoke customer rights", "RemoveCustomerRights", "Customer", new { userId = Model.User.Id}, new { @class = "btn btn-link"})
                        </li>
                        }
                    }
                </ul>
            </div>
            }

            @if(Model.CanModifyUser) {
                @Html.ActionLink("Edit user", "EditUser", "User", new { userId = Model.User.Id }, new { @class = "btn btn-primary"})
                @Html.ActionLink("Delete user", "DeleteUser", "User", new { userId = Model.User.Id }, new { @class = "btn btn-danger"})
            }

        </div>
    </span>
</h2>
<hr/>

<h4>Account information</h4>
<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.User.Id</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>@Model.User.UserName</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.User.Name</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td>@Model.User.Email</td>
    </tr>
    <tr>
        <th>Date of birth</th>
        @if(Model.User.DateOfBirth == null) {
        <td>Unknown</td>
        } else {
        <td>@String.Format("{0:dd.MM.yyyy}", Model.User.DateOfBirth)</td>
        }
    </tr>
    <tr>
        <th>Address</th>
        @if(String.IsNullOrEmpty(Model.User.Address)) {
        <td>Unknown</td>
        } else {
        <td>@Model.User.Address</td>
        }
    </tr>
    <tr>
        <th>Phone</th>
        @if(String.IsNullOrEmpty(Model.User.PhoneNumber)) {
        <td>Unknown</td>
        } else {
        <td>@Model.User.PhoneNumber</td>
        }
    </tr>
</table>
<hr/>

<h4>
    Created issues 
    <a class="btn btn-default" data-toggle="collapse" data-target="#created-issues">Toggle</a>
</h4>
<div id="created-issues" class="collapse">
    @{ Html.RenderPartial("~/Views/Issue/ListIssues.cshtml", Model.ListIssuesModel); }
</div>
<hr/>

<h4>
    Posted comments 
    <a class="btn btn-default" data-toggle="collapse" data-target="#comments">Toggle</a>
</h4>
<div id="comments" class="collapse">
    @{ Html.RenderPartial("~/Views/Comment/ListComments.cshtml", Model.ListCommentsModel); }
</div>

@{
    if(Model.EmployeeDetailModel != null) {
    <hr />
    <h2 style="text-align:left">
        Employee
    </h2>
        Html.RenderPartial("~/Views/Employee/EmployeeDetail.cshtml", Model.EmployeeDetailModel);
    }
}

@{
    if(Model.CustomerDetailModel != null) {
    <hr/>
    <h2 style="text-align:left">
        Customer
        @if(Model.CanModifyUser) {
            <span style="float:right">
                @Html.ActionLink("Edit customer", "EditCustomer", "Customer", new { customerId = Model.User.Id }, new { @class = "btn btn-primary"})
            </span>
        }
    </h2>
        Html.RenderPartial("~/Views/Customer/CustomerDetail.cshtml", Model.CustomerDetailModel);
    }
}