@model PresentationLayer.Models.Issue.ListIssuesModel

@if(Model.Issues.Count != 0) {
<table class="table">
    <tr>
        <th>Title</th>
        <th>Project</th>
        <th>Author</th>
        <th>Assigned employee</th>
        <th>Type</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var issue in Model.Issues) {
    <tr>
        <td>@issue.Title</td>
        <td>@Html.ActionLink(issue.Project.Name, "ProjectDetail", "Project", new {projectId = issue.Project.Id}, new {@class = "btn-link"})</td>
        <td>@Html.ActionLink(issue.Creator.Name, "PersonDetail", "Person", new {personId = issue.Creator.Id}, new {@class = "btn-link"})</td>
        <td>@Html.ActionLink(issue.AssignedEmployee.Person.Name, "PersonDetail", "Person", new { personId = issue.AssignedEmployee.Id}, new { @class = "btn-link"} )</td>
        <td>@issue.Type</td>
        <td>@issue.Status</td>
        <td>@Html.ActionLink("Detail", "IssueDetail", "Issue", new {issueId = issue.Id}, new {@class = "btn btn-primary"})</td>
    </tr>
    }

</table>
} else {
    <h5>No issues found.</h5>
}