@model PresentationLayer.Models.Comment.ListCommentsModel

@if(Model.Comments.Count != 0) {
<table class="table">
    @foreach (var comment in Model.Comments) {
    <tr>
        <th>Author</th>
        <td>@Html.ActionLink(comment.Author.Name, "PersonDetail", "Person", new { personId = comment.Author.Id}, new { @class = "btn-link"} )</td>
    </tr>
    <tr>
        <th>Posted on</th>
        <td>@comment.Created</td>
    </tr>
    <tr>
        <th>Issue</th>
        <td>@Html.ActionLink(comment.Issue.Title, "IssueDetail", "Issue", new { issueId = comment.Issue.Id}, new { @class = "btn-link"} )</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>@comment.Subject</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>@comment.Message</td>
    </tr>
    <tr>
        <th colspan="2"><hr /></th>
    </tr>
    }
</table>
} else {
    <h5>No comments found.</h5>
}