@using System.Collections.Generic;
@model List<PresentationLayer.Models.Project.ProjectOverviewModel>

@if(Model.Count != 0) {
<table class="table">
    <tr>
        <th>Name</th>
        <th>Customer</th>
        <th>Errors</th>
        <th>Requirements</th>
        <th></th>
    </tr>

    @foreach (var project in Model) {
    <tr>
        <td>@project.ProjectName</td>
        <td>@Html.ActionLink(project.CustomerName, "UserDetail", "User", new { userId = project.CustomerId }, new { @class = "btn-link"} )</td>
        <td>@project.ErrorCount</td>
        <td>@project.RequirementCount</td>
        <td>@Html.ActionLink("Detail", "ProjectDetail", "Project", new {projectId = project.ProjectId}, new {@class = "btn btn-primary"})</td>
    </tr>
    }

</table>
} else {
    <h5>No projects found.</h5>
}
