@model PresentationLayer.Models.Project.ProjectDetailModel

@{
    ViewBag.Title = Model.Project.Name;
}

<h2 style="text-align:left">
    Project
    <span style="float:right">
        <div class="btn-toolbar">
            @Html.ActionLink("Add Issue", "AddIssueToProject", "Issue", new {projectId = Model.Project.Id}, new {@class = "btn btn-default"})

            @if(Model.CanModify) {
                @Html.ActionLink("Edit project", "EditProject", "Project", new {projectId = Model.Project.Id}, new {@class = "btn btn-primary"})
                @Html.ActionLink("Delete project", "DeleteProject", "Project", new {projectId = Model.Project.Id}, new {@class = "btn btn-danger"})     
            }
        </div>
    </span>
</h2>
<hr />

<h4>General</h4>
<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Project.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.Project.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Project.Description</td>
    </tr>
    <tr>
        <th>Created by</th>
        <td>@Html.ActionLink(Model.Project.Customer.User.Name, "UserDetail", "User", new {userId = Model.Project.Customer.Id}, new {@class = "btn-link"})</td>
    </tr>
</table>

<hr/>
<h4>Related issues</h4>
<hr/>

@{ Html.RenderPartial("~/Views/Issue/ListIssues.cshtml", Model.ListIssuesModel); }